/* Default CSS start */
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Semibold.eot');
    src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Semibold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Semibold.woff') format('woff'),
        url('../fonts/SegoeUI-Semibold.ttf') format('truetype'),
        url('../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype'),
        url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: url('../fonts/SegoeUI-Semilight.eot');
    src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Semilight.woff2') format('woff2'),
        url('../fonts/SegoeUI-Semilight.woff') format('woff'),
        url('../fonts/SegoeUI-Semilight.ttf') format('truetype'),
        url('../fonts/SegoeUI-Semilight.svg#SegoeUI-Semilight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Light.eot');
    src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Light.woff2') format('woff2'),
        url('../fonts/SegoeUI-Light.woff') format('woff'),
        url('../fonts/SegoeUI-Light.ttf') format('truetype'),
        url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-BoldMT.eot');
    src: url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../fonts/Arial-BoldMT.woff') format('woff'),
        url('../fonts/Arial-BoldMT.ttf') format('truetype'),
        url('../fonts/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Mdm.eot');
    src: url('../fonts/Arial-Mdm.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial-Mdm.woff2') format('woff2'),
        url('../fonts/Arial-Mdm.woff') format('woff'),
        url('../fonts/Arial-Mdm.ttf') format('truetype'),
        url('../fonts/Arial-Mdm.svg#Arial-Mdm') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Black.eot');
    src: url('../fonts/Arial-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial-Black.woff2') format('woff2'),
        url('../fonts/Arial-Black.woff') format('woff'),
        url('../fonts/Arial-Black.ttf') format('truetype'),
        url('../fonts/Arial-Black.svg#Arial-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Lgt.eot');
    src: url('../fonts/Arial-Lgt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial-Lgt.woff2') format('woff2'),
        url('../fonts/Arial-Lgt.woff') format('woff'),
        url('../fonts/Arial-Lgt.ttf') format('truetype'),
        url('../fonts/Arial-Lgt.svg#Arial-Lgt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.eot');
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff'),
        url('../fonts/ArialMT.ttf') format('truetype'),
        url('../fonts/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:focus {
	outline: 0 none !important;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

:host,
ion-app,
ion-app.ion-page {
	font-size: 16px;
	line-height: 1.2;
	color: #575757;
    font-family: 'Segoe UI';
	font-weight: normal;
	text-align: left;
}

ion-content {
    --color: #575757;
    font-family: 'Segoe UI';
}

img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

a {
	color: #888;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:hover,
a:focus {
	color: #FFBB00;
	text-decoration: none;
}

a,
input[type="submit"],
input[type="button"],
button {
	outline: 0 none;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

[type="search"] {
	box-shadow: none;
	padding-bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-left-auto {
    margin-left: auto;
}
/* Default CSS end */

/* Button css start */
body .button.button-block,
body .button.button-full,
body .button.button-solid,
body .button.button-outline {
    --color: #575757;
    --color-focused: #fff;
    --color-hover: #fff;
    --border-color: #575757;
    --background: #fff;
    --background-focused: #FFA800;
    --background-hover: #FFA800;
    --background-activated: #FFA800;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1;
    --background-activated-opacity: 1;
    height: 48px;
    --border-width: 1px;
    font-weight: normal;
    text-transform: none;
    font-size: 18px;
    font-family: 'Segoe UI';
    white-space: normal;
    letter-spacing: 0.8px;
}
body .button.button-block.secondary-button,
body .button.button-round.secondary-button {
    --background: #FFFEFA;
    --background-focused: #FFA800;
    --background-hover: #FFA800;
    --color: #FFA800;
    --color-focused: #ffffff;
}
body .button.button-block.button-solid {
    --color: #fff;
    --color-focused: #FFBB00;
    --color-hover: #FFBB00;
    --border-width: 0;
    --background: #FFBB00;
    --background-focused: #fff6dc;
    --background-hover: #fff6dc;
}
body .button.button-block.button-solid.secondary-button {
    --color: #fff;
    --color-focused: #FFBB00;
    --color-hover: #FFBB00;
    --border-width: 0;
    --background: #2B89E0;
    --background-focused: #fff6dc;
    --background-hover: #fff6dc;
}
.button-solid ion-icon {
    font-size: 35px;
    margin-right: 10px;
}
.button-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
body .button.button-clear {
    font-size: 16px;
    text-transform: none;
    --color: #575757;
    font-family: 'Segoe UI';
    font-weight: normal;
    --background: transparent;
    --background-hover: transparent;
    --background-hover-opacity: 1;
    --background-activated: transparent;
    --background-activated-opacity: 1;
    --background-focused: transparent;
    --background-focused-opacity: 1;
    --highlight-color-focused: transparent;
    --border-color: transparent;
    --border-width: 0;
    --inner-border-width: 0;
    --ripple-color: transparent;
    opacity: 1;
}
/* Button css end */

/* Header css start */
.main-header {
    /* background-color: #FFFBF0; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffefa+0,fffefa+50,fffbf0+50,fffbf0+100&1+0,0.95+50,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,254,250,1) 0%, rgba(255,251,240,0.95) 50%, rgba(255,251,240,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,254,250,1) 0%,rgba(255,251,240,0.95) 50%,rgba(255,251,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,254,250,1) 0%,rgba(255,251,240,0.95) 50%,rgba(255,251,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefa', endColorstr='#fffbf0',GradientType=0 ); /* IE6-9 */
    /* border-radius: 0 0 15px 15px; */
    padding: 30px 15px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
}
.main-header:after {
    display: none;
}
body .main-header .without-back-arrow.button.button-clear {
    display: none;
}
body .main-header .with-back-arrow + .with-back-arrow.with-step-arrow {
    display: block;
}
body .main-header .with-back-arrow + .with-back-arrow {
    display: none;
}
body .main-header .button.button-clear.with-back-arrow {
    position: absolute;
    left: 0;
}
.main-logo {
    text-align: center;
    margin: 0 auto;
}
body .main-logo .button.button-clear,
body .apart-logo .button.button-clear,
body .button.button-clear.page-link {
    height: auto;
    margin: 0;
}
.main-logo a {
    display: inline-block;
    margin: 0 auto;
}
.logo {
    max-width: 150px;
    margin: 0 auto;
}

/* .inner-main-header ion-toolbar {
    display: flex;
    align-items: center;
} */
.inner-main-header {
    padding: 5px 20px;
    background-color: #fff;
}
.inner-main-header::after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
}
.inner-main-header ion-row {
    align-items: center;
}
.apart-logo {
    display: inline-block;
}
body .inner-main-header .button.button-clear {
    --background-activated-opacity: 0;
    --background-focused-opacity: 0;
}
body .button.notification-button {
    margin: 0 0 0 auto;
    position: relative;
}
.notification-count {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    background-color: #FF6363;
    color: #fff;
    border-radius: 50%;
    font-size: 13px;
    top: 0;
    left: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    pointer-events: none;
}
.message-button,
.account-button {
    margin: 0 0 0 25px;
    color: #636161;
}
.account-button {
    margin-left: 10px;
}
.message-button ion-icon {
    font-size: 42px;
}
.account-button ion-icon {
    font-size: 38px;
}
.change-property .proerty-name {
    background-color: #fff6dc;
    display: inline-block;
    color: #fb0;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 60px;
    position: relative;
    bottom: -7px;
    font-family: 'Arial';
    font-weight: bold;
}
.change-property .proerty-name:after {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    border-left: 3px solid #636161;
    position: absolute;
    bottom: -1px;
    transform: rotate(45deg);
    right: 0px;
}
body .button.back-buton {
    margin-right: 30px;
    --padding-start: 0;
    --padding-end: 0;
}

.header-page-title {
    margin: 0 auto;
    justify-self: center;
    /* display: none; */
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
}
/* Header css end */

/* Footer css start */
ion-footer {
    background-color: #fff;
    padding: 0;
}
ion-footer ion-list {
    display: flex;
    justify-content: center;
}
ion-footer ion-list.list-md {
    margin: 0;
    padding: 0;
}
ion-footer ion-list ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
    padding: 0 25px;
}
ion-footer ion-list ion-item a,
ion-footer p {
    color: #575757;
    font-size: 15px;
}
ion-footer p {
    margin-top: 0;
}
body ion-footer .button.button-clear.page-link {
    font-size: 15px;
}
body .button.button-clear.scroll-to-bottom-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 99;
    height: auto;
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
}
body .button.button-clear.scroll-to-bottom-btn {
    font-size: 25px;
    color: #575757;
}

.footer-menu .popover-content,
.footer-mobile-menu {
    background-color: #fff;
}
.footer-menu-button ion-icon {
    font-size: 40px;
    position: relative;
    top: 5px;
}
.footer-mobile-menu ion-item {
    --inner-border-width: 0;
    --padding-start: 0;
    --inner-padding-end: 0;
}
.footer-mobile-menu .button.button-clear {
    width: 100%;
}
.footer-mobile-menu .button div {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
}
.footer-mobile-menu ion-icon {
    flex: 0 0 25%;
    max-width: 25%;
    font-size: 25px;
}
.footer-mobile-menu .button span {
    flex: 0 0 75%;
    max-width: 75%;
}
/* Footer css end */

/* Login ppage start */
ion-content {
    --background: #FCFCFC;
}
.full-height-div {
    height: 100%;
}
.login-form-row {
    justify-content: center;
    padding: 5vw 0;
    height: 100%;
    align-items: center;
}
.login-form .password-field {
    margin-top: 10px;
}
.login-form .forget-password {
    margin-top: 0;
}
.login-form .forget-password .button.button-clear,
.back-to-login .button.button-clear,
body .button.button-clear.page-link {
    letter-spacing: normal;
    margin: 0;
    line-height: 1.2;
    --border-radius: 0;
    font-size: 14px;
    --color: #575757;
    --color-activated: #FFA800;
    --color-focused: #FFA800;
    --color-hover: #FFA800;
}
.login-form .sign-up-btn,
.login-form .login-btn {
    margin-top: 25px;
}
.login-form .gmail-btn {
    margin-top: 15px;
}
body .native-input.sc-ion-input-md,
body ion-select,
body ion-datetime,
body ion-textarea,
body .sc-ion-textarea-md-h {
    border: 1px solid #7C7C7C;
    border-radius: 30px;
    background-color: #fff;
    height: 48px;
    padding: 5px 20px;
    font-size: 16px;
    font-family: 'Segoe UI';
    --placeholder-color: #7C7C7C;
    --placeholder-font-weight: 300;
    --placeholder-opacity: 1;
}
body ion-textarea,
body .sc-ion-textarea-md-h {
    height: auto;
    padding: 15px 20px;
}
.native-textarea.sc-ion-textarea-md {
    padding: 0;
}
body .is-invalid .native-input.sc-ion-input-md,
body .is-invalid ion-select,
body .is-invalid ion-datetime,
body ion-select.is-invalid,
body ion-datetime.is-invalid,
body ion-textarea.is-invalid,
body .sc-ion-textarea-md-h.is-invalid {
    border-color: #f00;
}
body ion-datetime {
    align-items: center;
}
body .native-input.sc-ion-input-md[readonly] {
    border-color: transparent;
    background-color: #e5e5e5;
    font-size: 25px;
    color: #7c7c7c;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7C7C7C;
    font-size: 13px;
  }
::-moz-placeholder { /* Firefox 19+ */
    color: #7C7C7C;
    font-size: 13px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #7C7C7C;
    font-size: 13px;
}
:-moz-placeholder { /* Firefox 18- */
    color: #7C7C7C;
    font-size: 13px;
}
.login-form a,
.back-to-login a {
    color: #7C7C7C;
    text-decoration: none;
    font-size: 14px;
}
.login-form a:hover,
.login-form a:focus,
.back-to-login a:hover,
.back-to-login a:focus {
    color: #FFBB00;
}
/* .login-form .sign-up-btn .button.button-block {
    --color: #FFBB00;
    --color-focused: #ffffff;
    --color-hover: #ffffff;
} */
.form-lable {
    margin-bottom: 5px;
    display: block;
    /* padding-left: 22px; */
}
body .gmail-btn .button.button-block ion-icon {
    margin-right: 20px;
}
/* Login ppage end */


/* Signup page css start */
.signup-form {
    flex-direction: column;
}
.signup-form ion-list {
    background: transparent;
}
.signup-form ion-list-header {
    padding: 0;
    visibility: inherit;
    font-size: 16px;
    color: #575757;
    font-weight: 300;
    font-family: 'Segoe UI Semilight';
}
.signup-form ion-list-header ion-label {
    margin-bottom: 15px;
}
.user-select-item {
    --background: #F2F2F2;
    --border-radius: 11px;
    --background-hover: #FFFBF0;
    --background-focused-opacity: 1;
    --background-activated: #FFFBF0;
    --background-activated-opacity: 1;
    --background-focused: #FFFBF0;
    --highlight-color-focused: #FFFBF0;
    --background-focused-opacity: 1;
    --border-color: #7C7C7C;
    --border-width: 1px;
    --inner-border-width: 0;
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --inner-padding-end: 0;
}
.user-select-item + .user-select-item {
    margin-top: 15px;
}
.user-select-item:hover,
.user-select-item:focus,
.user-select-item.item-radio-checked,
.user-select-item.ion-activated {
    --background: #FEFBF2;
}
.user-select-item.item ion-label {
    color: #575757;
    overflow: visible;
    white-space: normal;
    font-size: 18px;
    font-family: 'Segoe UI';
}
.user-select-item ion-label p {
    margin: 10px 0 0;
    font-size: 15px;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
    color: #575757;
}
.user-select-item ion-radio {
    --color-checked: #FFBB00;
    width: 30px;
    height: 30px;
}
body .signup-form .button {
    margin-top: 18px;
}

body .swiper-container-horizontal>.swiper-pagination-bullets {
    position: relative;
    bottom: auto;
    margin-bottom: 30px;
}
body .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid #ccc;
    width: 15px;
    height: 15px;
    opacity: 1;
}
body .swiper-pagination-bullet:hover,
body .swiper-pagination-bullet:focus,
body .swiper-pagination-bullet-active {
    background-color: #FFBB00;
    border-color: #FFBB00;
}
body .swiper-slide {
    text-align: left;
}
.swiper-slide .form-lable {
    color: #575757;
    font-size: 14px;
    padding-left: 0;
}
.error-message,
.error-summary {
    color: #ff0000;
    font-size: 14px;
    margin: 2px 0 0;
    /* padding-left: 22px; */
}
.signup-form ion-slides {
    display: flex;
    flex-direction: column-reverse;
}
.signup-form > ion-col {
    padding: 0;
}
/* Signup page css end */

/* Management dashboar css start */
.dashboard-wrapper {
    background-color: #F9F9F9;
    --background: #F9F9F9;
    --padding-top: 15px;
    --padding-bottom: 0;
}
.dashboard-wrapper .dashboard-main-grid {
    padding: 0 0 15px;
    min-height: 600px;
}
.dashboard-wrapper .dashboard-main-row,
.dashboard-wrapper .sidebar-menu-list { 
    height: 100%;
    background: inherit;
}
.dashboard-sidebar, 
.dashboard-posts {
    background-color: #fff;
    border-radius: 4px;
}
.dashboard-wrapper .dashboard-main-row > ion-col {
    padding: 0 8px;
}
.dashboard-wrapper .dashboard-main-row > ion-col.dashboard-sidebar {
    padding: 0;
}
.dashboard-sidebar ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
    --background: #fff;
    --background-activated: #FFF6DC;
    --background-focused: #FFF6DC;
    --background-hover: #FFF6DC;
    --background-activated-opacity: 1;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1;
    --border-radius: 12px;
}
body .button.dashboard-button {
    height: auto;
    width: 100%;
    font-size: 16px;
    text-transform: none;
    color: #575757;
    font-family: 'Segoe UI';
    font-weight: normal;
    margin: 0;
    padding: 0;
    --background: transparent;
    --background-hover: transparent;
    --background-focused-opacity: 1;
    --background-activated: transparent;
    --background-activated-opacity: 1;
    --background-focused: transparent;
    --highlight-color-focused: transparent;
    --background-focused-opacity: 1;
    --border-color: transparent;
    --border-width: 0;
    --inner-border-width: 0;
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --inner-padding-end: 0;
    --border-radius: 12px;
}
body .button.dashboard-button.active {
    --background: #FFF6DC;
}
.item .dashboard-button.active .dashboard-button-label, 
.item .dashboard-button.active .dashboard-button-label b {
    font-weight: bold;
}
.dashboard-button-inner {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-right: auto;
}
.item .dashboard-button .dashboard-button-label {
    color: #575757;
    font-family: 'Segoe UI';
    font-weight: 300;
    letter-spacing: normal;
    overflow: visible;
    white-space: normal;
    text-align: left;
}
.item .dashboard-button .dashboard-button-label b {
    font-weight: normal;
}
.dashboard-button ion-avatar {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    margin-right: 15px;
}
.dashboard-wrapper ion-col.dashboard-content {
    padding: 0 16px 50px;
    color: #575757;
    font-family: 'Segoe UI';
}
.dashboard-content p {
    font-size: 15px;
    color: #3C5871;
}
.property-list {
    padding: 0;
}
.property-list-item {
    position: relative;
    background-image: url('../images/dark-border-new.png');
    background-size: 100% 105%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.property-list-item-content {
    background-color: rgba(255,255,255,0.95);
    border: 1px solid #7C7C7C;
    border-radius: 4px;
    padding: 10px 15px 5px;
    backdrop-filter: blur(1px);
    --webkit-backdrop-filter: blur(1px);
}
.property-name {
    font-weight: normal;
    margin: 0 0 15px;
    text-decoration: underline;
}
.property-address {
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
    margin: 0 0 15px;
}
.property-owner {
    margin: 0;
    font-weight: normal;
}

.change-property-popup {
    --width: 30vw;
}
.change-property-popup ion-backdrop {
    cursor: inherit;
}
.change-property-popup .popover-content {
    top: 65px !important;
    padding: 30px 15px 76px;
    overflow: visible;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    background-color: #fff;
}
.change-property-popup-wrapper ion-grid {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px 10px;
}
.change-property-popup .popover-content:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 18px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: inline-block;
    bottom: 100%;
    /* right: 11vw; */
    right: 165px;
    /* box-shadow: 0 0 5px rgb(0 0 0 / 50%); */
}
.change-property-popup .popover-viewport {
    cursor: inherit;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.change-property-popup-wrapper {
    padding: 0;
}
body .change-property-popup ion-row {
    margin: 0 -10px;
}
.change-property-popup-wrapper p {
    margin-top: 0;
}
.change-property-popup-wrapper ion-list {
    padding-top: 0;
    background-color: #fff;
}
body .change-property-popup .button.button-block.button-solid,
body .change-property-popup .button.button-block.button.button-outline {
    --padding-start: 15px;
    --padding-end: 15px;
    font-size: 14px;
}
.manage-property-btn ion-icon {
    font-size: 35px;
}
.add-property-btn ion-icon {
    font-size: 45px;
}
.change-property-popup .button-inner ion-icon {
    flex: 0 0 30px;
    max-width: 30px;
    margin-right: 5px;
}
.change-property-popup .button-inner span {
    /* flex: 0 0 calc(100% - 60px);
    max-width: calc(100% - 60px); */
    text-align: left;
    white-space: normal;
    /* word-break: break-all; */
}
.property-item-footer {
    display: flex;
    justify-content: space-between;
}   
body .change-property-button.button {
    font-size: 14px;
    color: #FFBB00;
    font-weight: 600;
    height: auto;
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
    height: auto;
}
.change-property-button ion-icon {
    font-size: 40px;
    margin-left: 0px;
}
body .button.button-clear.close-popup-button {
    position: absolute;
    top: 5px;
    right: -15px;
    z-index: 1;
    font-size: 20px;
    width: auto;
    min-width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.no-property-selected, 
.no-property-selected .property-list-item-content {
    border-radius: 16px;
}
 .no-property-selected .property-list-item-content {
    padding: 0;
}
.no-property-selected .property-item-footer {
    display: block;
}
body .no-property-selected .change-property-button.button {
    font-size: 20px;
    color: #3C5871;
    font-weight: normal;
    height: auto;
    margin: 0;
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    height: auto;
}
body .no-property-selected .change-property-button.button ion-icon {
    color: #FFBB00;
}
.no-property-selected .change-property-button span {
    color: #3C5871;
    font-size: 20px;
    font-weight: normal;
    margin: 0 auto;
}

/* Management dashboar css end */


/* Manage property page css start */
.manage-property-wrapper {
    padding: 15px;
}
body .manage-property-more-menu {
    --width: 125px;
    --backdrop-opacity: 0;
}
.manage-property-wrapper ion-list {
    background-color: transparent;
}
.manage-property-more-menu .popover-content,
.property-fab-button .popover-content {
    border-radius: 15px;
    background-color: #ffffff;
}
body .button.manage-property-more-menu-button {
    --padding-start: 0;
    --padding-end: 0;
}
.manage-property-more-menu-button ion-icon {
    color: #c0c0c0;
}
.manage-property-more-menu ion-list,
.manage-property-more-menu .popover-viewport,
.property-fab-button  ion-list,
.property-fab-button  .popover-viewport {
    padding: 0;
    background-color: #ffffff;
}
.manage-property-more-menu ion-list ion-item,
.property-fab-button  ion-list ion-item,
.property-change-menu-popup  ion-list ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}
.manage-property-more-menu ion-list ion-item:last-child,
.property-fab-button  ion-list ion-item:last-child,
.property-change-menu-popup  ion-list ion-item:last-child {
    --inner-border-width: 0;
}
.manage-property-more-menu .button.button-clear,
.property-fab-button  .button.button-clear {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 14px;
}
.user-select-item.archieved-propeprty {
    --background: #d8d8d8;
}
.user-select-item.archieved-propeprty ion-label,
.user-select-item.archieved-propeprty ion-label p {
    color: #fff;
}
.property-fab-button ion-fab-button {
    --background: #2699FB;
}
.property-fab-button ion-fab-button ion-icon {
    font-size: 35px;
}
.property-fab-button ion-fab-list,
.property-change-menu-popup ion-fab-list {
    right: 0;
    background-color: #ffffff
}
.property-fab-button ion-list,
.property-change-menu-popup ion-list {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
}
.property-fab-button ion-fab-list:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    right: 18px;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
}
/* .property-fab-button ion-fab-button.fab-button-close-active:after { */
.property-fab-button ion-fab-list:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 5px solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    display: inline-block;
    top: 100%;
    right: 24px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}
.property-fab-button .button.button-clear {
    font-size: 16px;
    letter-spacing: 0;
}
.property-fab-button .button.button-clear ion-icon,
.property-change-menu-popup .button.button-clear ion-icon {
    margin-right: 15px;
    font-weight: bold;
}
body .manage-property-more-menu ion-backdrop {
    /* display: none; */
    cursor: inherit;
}

.dashboard-wrapper .dashboard-main-grid.manage-property-wrapper {
    min-height: auto;    
    position: relative;
}
body .button.button-clear.property-change-button {
    width: 56px;
    height: 56px;
    position: fixed;
    right: 30px;
    bottom: 15px;
    z-index: 9999;
    background: #2699FB;
    border-radius: 50%;
    --color: #fff;
}
/* .property-change-menu-popup {
    --backdrop-opacity: 0;
} */
/* Manage property page css end */


/* Add property page css start  */
.dashboard-content ion-slides {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}
.form-field + .form-field {
    margin-top: 10px;
}
body .dashboard-content .native-input.sc-ion-input-md, 
body .dashboard-content ion-select,
body .dashboard-content ion-datetime,
body .dashboard-content ion-textarea,
body .dashboard-content .sc-ion-textarea-md-h {
    border-radius: 15px;
}
ion-note {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 20px;
    color: #575757;
    display: block;
}
.apartment-info {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #C0C0C0;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 10px;
    box-shadow: 0 1px 1px #c0c0c0;
    align-items: flex-end;
    height: 100%;
    overflow: hidden;
    min-height: 75px;
}
.apartment-info ion-button {
    margin: 0;
    height: auto;
    --padding-start: 0;
    --padding-end: 0;
}
.apartment-info ion-icon {
    color: red;
    font-size: 20px;
}
.apartment-info input.native-input.sc-ion-input-md {
    border: none;
    height: auto;
    /* border-bottom: 1px dashed; */
    border-radius: 10px;
    background-color: transparent;
    font-size: 32px;
    /* background: rgba(0,0,0,0.1); */
    padding: 0;
    text-align: center;
    color: #3c5871;
}
.apartment-info .sc-ion-input-md-h {
    position: relative;
    opacity: 0.8;
}
.add-unit-button ion-label {
    position: relative;
}
/* .apartment-info .sc-ion-input-md-h:before,
.add-unit-button ion-label:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 64px;
    height: auto;
    box-shadow: 0 0 6px 6px rgb(0 0 0 / 20%);
    background-color: rgb(0 0 0 / 20%);
    border-radius: 12px;
} */
/* .add-unit-button ion-label:before {
    height: 33px;
    opacity: 80%;
} */
.apartment-info .sc-ion-input-md-h:after {
    content: "";
    position: absolute;
    width: 54%;
    height: 1px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-bottom: 4px dashed #3c5871;
    overflow: hidden;
}
.add-unit-button {
    border: 2px dashed #539CDD;
    padding: 0;
    background: transparent;
}
.add-unit-button .button.button-clear {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #539CDD;
}
.generated-floor-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #B4BEC7;
}
.generated-floor-box-title-wrap {
    margin: 0 0 15px;
}
.generated-floor-box-title {
    margin: 0;
}
.generated-floor-box-title-wrap .tooltip {
    width: 20px;
    height: 20px;
    font-size: 15px;
}
.generated-floor-box-title-wrap .tooltip:hover:before {
    right: 3px;
}
.generated-floor-note {
    margin: 0 5px 15px;
    position: relative;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}
.generated-floor-note:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 30px;
    right: 12px;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
}
.generated-floor-note:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    display: inline-block;
    top: 100%;
    right: 30px;
    border: 10px solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}
/* .property-fab-button ion-fab-list:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 5px solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    display: inline-block;
    top: 100%;
    right: 24px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
} */
.tooltip {
    display: flex;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid;
    color: #7c7c7c;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.label-with-tooltip {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Applies to all tooltips */
.tooltip::before,
.tooltip::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
/* Make the tooltips respond to hover */
.tooltip:hover::before,
.tooltip:hover::after {
  display: block;
}
/* don't show empty tooltips */
.tooltip[title='']::before,
.tooltip[title='']::after {
  display: none !important;
}
.tooltip:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    /* background: #fff; */
    background: #7C7C7C;
    /* box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%); */
    border-radius: 8px;
    color: #fff;
    content: attr(title); 
    font-size: 14px;
    padding: 5px;
    /* width: 220px; */
    position: absolute;
    right: -15px;
    bottom: calc(100% + 12px);
    z-index: 3;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .tooltip:hover:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    display: inline-block;
    bottom: 15px;
    right: 3px;
    border: 10px solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
} */
.tooltip:hover:before{
    border: solid;
    border-color: #7C7C7C transparent;
    border-width: 12px 6px 0 6px;
    content: "";
    bottom: 15px;
    right: 0px;
    position: absolute;
  }
.tooltip::after {
  bottom: calc(100% + 5px);
}
.tooltip::after {
  right: -10px;
  transform: translate(10px, -.5em);
}
@keyframes tooltips-vert {
    to {
        opacity: 1;
        transform: translate(-10px, 0);
    }
}
@keyframes tooltips-horz {
    to {
        opacity: 1;
        transform: translate(0, -3px);
    }
}
.tooltip:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}
.tooltip:hover::before {
    animation: tooltips-horz 300ms ease-out forwards;
}
/* Add property page css end  */


/* Manage tenants css start */
.dashboard-content .ion-page {
    background-color: #fff;
    /* left: 15px;
    right: 15px; */
    /* left: auto;
    right: auto;
    position: relative;
    overflow: visible;
    height: 100%;
    top: auto;
    bottom: auto; */
}
.dashboard-content .ion-page .ion-page {
    /* left: 22px; */
    /* right: 22px; */
    padding: 0 22px;
}
.dashboard-content-inner {
    background-color: #fff;
    padding: 0 35px 15px;
}
ion-tabs {
    position: relative !important;
}
ion-segment {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
ion-tab-bar {
    background: transparent;
    border: none;
    justify-content: flex-start;
}
ion-tab-button,
ion-segment-button {
    --background: transparent;
    --background-checked: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1;
    --background-activated-opacity: 1;
    height: auto;
    font-family: 'Segoe UI Semilight';
    font-size: 17px;
    font-weight: 300;
    --color: #3C5871;
    --color-checked: #3c5871;
    --color-selected: #3C5871;
    --color-focused: #3C5871;
    position: relative;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 50px;
    --padding-end: 50px;
    border-bottom: 1px solid #C0C0C0;
    text-transform: none;
    --indicator-color: #FFBB00;
    --indicator-height: 2px;
    --transition: color 0.15s linear 0s, opacity 1s linear 0s;
    min-width: auto;
    max-width: fit-content;
    letter-spacing: normal;
}
ion-tab-button ion-label {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}
ion-tab-button.tab-selected,
ion-segment-button.segment-button-checked,
ion-tab-button.tab-selected ion-label {
    font-family: 'Segoe UI';
    font-weight: 600;
}

ion-tab-button.tab-selected:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background-color: #FFBB00;
    border-radius: 4px;
}
.tab-content .apartments-list-block ion-grid {
    padding: 0 80px;
    margin-top: 20px;
}
.tab-content {
    margin-top: 20px;
    width: 100%;
}
.requires-renewal-proposal-block {
    overflow: hidden;
}
.title-with-line {
    margin: 0;
    color: #3C5871;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
    position: relative;
    display: inline-block;
}
.requires-renewal-proposal-block .title-with-line {
    font-size: 16px;
}
.title-with-line:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1000%;
    height: 1px;
    background-color: #c0c0c0;
    left: calc(100% + 15px);
}
.tab-content .apartments-list .button.button-full {
    --background: #fff;
    --background-activated: #fff;
    --background-hover: #fff;
    --background-focused: #fff;
    --background-activated-opacity: 1;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1;
    --border-radius: 12px;
    --border-width: 1px;  
    --border-color: #B4BEC7;
    --border-style: solid;
    --color: #3C5871;
    --color-activated: #3C5871;
    --color-focused: #3C5871;
    --color-hover: #3C5871;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    --box-shadow: 0 1px 1px #C0C0C0;
    min-height: 100px;
    border-radius: 12px;
    /* --border-right-width: 1px;
    --border-left-width: 1px; */
    overflow: hidden;
    text-transform: none;
}
.tab-content .button div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: left;
    color: #3C5871;
}
.tab-content .button span {
    font-size: 11px;
    letter-spacing: 0.5px;
}
.tab-content .button h2 {
    margin: 5px 0 0;
    font-size: 32px;
    font-weight: normal;
    text-transform: none;
    position: relative;
    opacity: 0.8;
    text-align: center;
}
/* .tab-content .button h2:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 64px;
    height: auto;
    box-shadow: 0 0 6px 6px rgb(0 0 0 / 20%);
    background-color: rgb(0 0 0 / 20%);
    border-radius: 12px;
} */
.apartments-list {
    margin-bottom: 25px;
}
body .button.button-full.show-more-button {
    --background: #fff;
    --color: #3C5871;
    font-size: 15px;
    height: auto;
    --padding-top: 10px;
    --padding-bottom: 10px;
    max-width: 130px;
    --padding-start: 10px;
    --padding-end: 10px;
    margin: auto;
    --box-shadow: none;
    --border-color: #3C5871;
    font-weight: normal;
    --border-style: solid;
    --border-width: 1px;
}
.apartments-list-block {
    padding: 15px 0;
    overflow: hidden;
}

.find-digi-lease-block,
.apartment-lease-code-info {
    background-color: #F3F3F3;
    padding: 15px;
    border-bottom: 1px solid #E2E1E1;
}
.find-digi-lease-block h6,
.digi-lease-search-results-box > h6 {
    font-size: 15px;
    color: #575757;
    margin: 0 0 15px;
    font-weight: normal;
}
.digi-lease-search-results-box > h6,
.digi-lease-search-results-box > p {
    color: #3C5871;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
}
.find-digi-lease-block h6 b,
.find-digi-lease-block > p b,
.digi-lease-search-results-box h6 b {
    font-weight: 600;
    font-family: 'Segoe UI';
}
.search-box {
    display: flex;
    align-items: center;
}
.search-box ion-label {
    font-size: 17px;
    font-weight: normal;
}
.search-box ion-input.sc-ion-input-md-h {
    flex: 0 0 89px;
    max-width: 89px;
    margin: 0 25px;
}
.search-box input.native-input.sc-ion-input-md {
    border-color: #c0c0c0;
    border-radius: 14px;
    color: #979797;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}
.search-box .button.button-full,
.lease-code-info .button.button-solid {
    --background: #E5E5E5;
    --border-color: #c0c0c0;
    --color: #7c7c7c;
    max-width: 108px;
    --padding-start: 15px;
    --padding-end: 15px;
    --box-shadow: none;
    --border-color: #ccc;
    --border-style: solid;
}
.search-box .button.button-full div {
    color: #7c7c7c;
    flex-direction: row;
    align-items: center;
}
.search-box .button.button-full div:hover,
.search-box .button.button-full div:focus {
    color: #fff;
}
.search-box .button.button-full ion-icon {
    flex: 0 0 30px;
    max-width: 30px;
    margin-right: 5px;
}
.search-box .button.button-full span {
    font-size: 15px;
    letter-spacing: normal;
}
.digi-lease-search-results-box {
    margin-top: 25px;
}
.search-result-box h5,
.message-list > h4,
.search-result-box h3,
.notification-history .notification-list > h6 {
    color: #3C5871;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
    margin: 0 0 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E2E1E1;
}
.lease-renewal {
    background-color: #FFDFDF;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    position: relative;
}
body .lease-renewal-button.button.button-full,
body .edit-lease-info-button.button.button-full,
body .view-lease-info-button.button.button-full,
body .notification-detail-button.button.button-clear {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
}
.digi-lease-search-results-box .renewal-lease-info h6 {
    font-weight: 600;
    color: #575757;
    margin: 0;
}
.digi-lease-search-results-box .renewal-lease-info p {
    color: #575757;
    margin: 5px 0 0;
    font-weight: 300;
    font-family: 'Segoe UI Semilight';
}
.digi-lease-search-results-box .renewal-lease-info p b {
    font-weight: 600;
    font-family: 'Segoe UI';
}
.lease-renewal ion-icon {
    font-size: 45px;
    color: #FF6363;
}
.search-result-box + .search-result-box {
    margin-top: 25px;
}
.tenants-lease-info,
.tenants-lease-info.tenants-lease-payment-info,
.request-box-info {
    border: 1px solid #B4BEC7;
    box-shadow: 0 1px 1px #c0c0c0;
    border-radius: 4px;
    padding: 8px 10px;
    position: relative;
}
body .edit-lease-info-button.button.button-full, 
body .view-lease-info-button.button.button-full {
    border-radius: 4px;
}
.start-end-date-block,
.tenant-lease-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-date-block h6, 
.end-date-block h6,
.tenant-lease-info h6 {
    font-size: 16px;
    margin: 0 0 18px;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 5px;
    font-weight: normal;
}
.start-end-date-block > div {
    text-align: center;
}
.start-date-block h6 {
    color: #1ECB40;
}
.end-date-block h6 {
    color: #FF6363;
}
.tenant-lease-info h6 {
    color: #7FC4FD;
}
.start-end-date-block p {
    color: #3C5871;
    font-weight: normal;
    margin: 0 0 5px;
}
.start-end-date-block .to-block p {
    padding-top: 15px;
}
.to-block {
    padding: 0 55px;
}
.to-block ion-icon {
    font-size: 25px;
}
.tenant-lease-info {
    flex-direction: column;
}
.tenant-lease-info ol,
.tenant-lease-info ul {
    margin: 0;
}
.tenant-lease-info li {
    color: #3C5871;
    font-size: 15px;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
}
/* Manage tenants css end */

/* Lease info css start */
.apartment-lease-code-info ion-col {
    padding: 0 15px;
}
.apartment-lease-code-info ion-label {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
}
.lease-code-info .button.button-solid {
    max-width: 300px;
    --color-focused: #fff;
    --color-hover: #fff;
    --background-focused: #FFBB00;
    --background-hover: #FFBB00;
    --padding-top: 12px;
    --padding-bottom: 12px;
    margin: 10px 0 0;
    --background: #c0c0c0;
    color: #fff;
    --border-width: 0;
    height: auto;
}
.tenant-lease-details-card,
.tenants-rent-details-card {
    margin: 0;
    margin-top: 30px;
    background-color: #fff;
}
.tenant-lease-details-card ion-card-title,
.tenants-rent-details-card ion-card-title {
    font-size: 22px;
    color: #3C5871;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
}
.tenant-lease-details-card ion-card-content,
.tenants-rent-details-card ion-card-content {
    text-align: center;
    padding-bottom: 20px;
}
.tenant-lease-details-info {
    padding-bottom: 25px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 20px;
    text-align: left;
}
.tenant-lease-details-info h4 {
    /* text-align: center; */
    font-size: 15px;
    color: #3C5871;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
}
.tenant-lease-details-info > ion-row {
    margin: 0 -5px;
}
.tenant-lease-details-info div + div {
    margin-top: 15px;
}
.tenant-lease-details-info ion-label {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
}
body .tenant-lease-details-info .native-input.sc-ion-input-md[readonly] {
    background: transparent;
    border: none;
    font-size: 18px;
    height: auto;
    font-weight: 600;
}
body .tenant-lease-details-card .button.button-solid {
    --background: #E5E5E5;
    --border-color: #c0c0c0;
    --color: #7c7c7c;
    --padding-start: 15px;
    --padding-end: 15px;
    --box-shadow: none;
    --border-style: solid;
}
.lease-scan-block {
    text-align: left;
}
.uploaded-file {
    display: flex;
    align-items: center;
}
.uploaded-file + .uploaded-file {
    margin-top: 15px;
}
.dashboard-content .uploaded-file-name {
    width: 300px;
    border: 1px solid #7c7c7c;
    background-color: #fff;
    border-radius: 15px;
    min-height: 48px;
    height: auto;
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding: 0 20px;
    margin: 0;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 600;
}
.dashboard-content .uploaded-file-name.read-only {
    border-color: transparent;
    background-color: #e5e5e5;
}
.uploaded-file ion-icon {
    color: #FF6363;
    font-size: 30px;
}
.upload-photo-block {
    margin-top: 15px;
}
body .tenant-lease-details-card .upload-photo-block .button.button-solid {
    --border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    --padding-start: 0;
    --padding-end: 0;
}
.upload-photo-block .button ion-icon {
    font-size: 25px;
    margin: auto;
    color: #2B89E0;
}
body .button.button-solid.exit-file-btn,
body .button.button-solid.cancle-btn {
    margin: 15px 7.5px 0;
    --background: #FF6363;
    --color: #fff;
}
body .button.button.button-outline.submit-new-lease-btn {
    margin: 15px 7.5px 0;
}
body .button.button-solid.update-file-btn,
body .button.button-outline.update-file-btn {
    /* --background: #FFA800; */
    /* --color: #fff; */
    margin: 15px 7.5px 0;
    /* --background-focused: #FFBB00;
    --background-hover: #FFBB00;
    --background-activated: #FFBB00; */
}
.tenant-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
/* body .tenant-title-wrap .button.button-clear {
    position: absolute;
    right: 0;
} */
body .tenant-title-wrap ion-icon {
    color: #FF6363;
    font-size: 30px;
}
.date-picker {
    position: relative;
}
.date-picker ion-icon {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    font-size: 25px;
    color: #636161;
}
ion-input.width-25,
.width-25 {
    width: 100px;
}
ion-input.width-50,
.width-50 {
    width: 300px;
}
body .special-actions-card .button.button-outline {
    --border-radius: 4px;
    margin: 0 7.5px;
}

body .sc-ion-alert-md-h {
    --min-width: 305px;
}
body .alert-wrapper.sc-ion-alert-md {
    border: 1px solid #575757;
}
body .alert-head.sc-ion-alert-md {
    text-align: center;
}
body .orange-alert .alert-head.sc-ion-alert-md {
    background-color: #fb0;
}
body .red-alert .alert-head.sc-ion-alert-md {
    background-color: #FF6363;
}
body .alert-title.sc-ion-alert-md {
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI';
}
body .alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
    padding: 30px 15px 15px;
}
.alert-message p {
    text-align: center;
    font-family: 'Segoe UI';
    margin: 0 0 15px;
    font-size: 15px;
}
.alert-message p:last-child {
    margin-bottom: 0;
}
body .alert-button-group.sc-ion-alert-md {
    justify-content: center;
    padding-bottom: 20px;
}
body .alert-button.sc-ion-alert-md {
    
    border-radius: 30px;
    padding: 10px 30px;  
    background: #fff;
    font-weight: normal;
    text-transform: none;
    font-size: 14px;
    font-family: 'Segoe UI';
    white-space: normal;
    letter-spacing: 0.8px;
    margin: 0;
}
body .alert-button.sc-ion-alert-md.btn-outline {
    border: 1px solid #575757;
    color: #575757;
}
body .alert-button.sc-ion-alert-md.btn-outline.secondary-button {
    color: #FFA800;
}
body .alert-button.sc-ion-alert-md.btn-outline.secondary-button:hover,
body .alert-button.sc-ion-alert-md.btn-outline.secondary-button:focus {
    color: #fff;
}
body .alert-button.sc-ion-alert-md.btn-primary,
body .alert-button.sc-ion-alert-md:hover,
body .alert-button.sc-ion-alert-md:focus,
body .alert-button.sc-ion-alert-md.btn-secondary:hover,
body .alert-button.sc-ion-alert-md.btn-secondary:focus {
    color: #fff;
    background: #FFA800;
    border-color: #FFA800;
}
body .alert-button.sc-ion-alert-md.btn-secondary {
    background: #FF6363;
    border-color: #FF6363;
    color: #fff;
}
body .alert-button.sc-ion-alert-md.btn-primary:hover,
body .alert-button.sc-ion-alert-md.btn-primary:focus {
    background: #FFBB00;
}
body .alert-button.sc-ion-alert-md + .alert-button.sc-ion-alert-md {
    margin-left: 30px;
}
.alert-input-wrapper {
    text-align: center;
}
body .alert-input-group.sc-ion-alert-md {
    padding: 15px 15px 30px;
}
body .alert-input.sc-ion-alert-md.fingerprint-input {
    border: none;
    width: 113px;
    height: 113px;
    margin: 0 auto;
    box-shadow: 0 0 5px -1px rgb(0 0 0 / 50%);
    border-radius: 16px;
    background-image: url('../images/finger-print-outline.svg');
    background-position: center;
    background-size: 80% auto;
    background-repeat: no-repeat;
}
.lease-price {
    position: relative;
}
.lease-price:before {
    content: "$";
    left: 12px;
    position: absolute;
    top: 13px;    
    font-size: 16px;
    font-family: 'Segoe UI';
    color: #7C7C7C;
}
/* Lease info css end */

/* Manage Rents css start  */
.tenants-rent-details-card {
    background-color: #F3F3F3;
    box-shadow: none;
}
body .tenants-rent-details-card .button.button-outline {
    --border-radius: 4px;
    margin: 0;
}
body .tenants-rent-details-card .button + .button {
    margin-left: 30px;
}
body textarea.alert-input.sc-ion-alert-md {
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    min-height: 130px;
    padding: 15px;
}
body .alert-input.sc-ion-alert-md:focus {
    border-bottom: 1px solid #c0c0c0;
}

.tenants-lease-payment-info {
    padding: 0;
    margin-bottom: 15px;
}
.tenants-lease-payment-info ion-grid {
    padding: 0;
}
.tenants-lease-payment-info ion-col {
    padding: 15px;
    border-right: 1px solid rgba(0,0,0,0.1);
}
.tenants-lease-payment-info ion-col:last-child {
    border-right: none;
}
.tenants-lease-payment-info p:last-child {
    margin-bottom: 0;
}
.due-block h6 {
    color: #FF6363;
}
.paid-block h6 {
    color: #1ECB40;
}
.rent-period-block p {
    display: flex;
    align-items: center;
}
.rent-period-block p ion-icon {
    margin: 0 5px;
}
.tenants-lease-payment-info h6,
.request-box-info h6 {
    font-size: 16px;
    margin: 0 0 18px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 5px;
    font-weight: normal;
}
.tenants-lease-payment-info ion-col:not(.due-block) h6,
.tenants-lease-payment-info ion-col p {
    color: #3C5871;
}
/* Manage Rents css end  */

/* Rent Pay Details css start */
.rent-pay-details-card {
    margin-top: 0;
}
.tenant-lease-details-info.rent-pay-info {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.rent-pay-details-card  ion-label,
body .rent-pay-details-card .native-input.sc-ion-input-md[readonly] {
    color: #3C5871;
}
.paid-btn-wrap {
    display: flex;
    justify-content: flex-start;
}
.paid-btn-wrap ion-input.width-25 {
    flex: 0 0 100px;
    max-width: 100px;
    margin-right: 15px;
}
body .button.button-outline.confirm-btn {
    margin: 15px 7.5px 0;
}
/* Rent Pay Details css end */

/* Rent pay receipt popup start */
.rent-pay-receipt-popup {
    --width: 300px;
    --height: 440px;
}
.rent-pay-receipt-popup .ion-page {
    position: relative;
    width: 100%;
    height: 100%;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}
.rent-pay-receipt-popup .popover-content.sc-ion-popover-md {
    top: 50% !important;
    /* left: 50% !important; */
    transform: translateY(-50%) !important;
    left: 0 !important;
    right: 0;
    margin: auto;
    position: fixed;
    transform-origin: 0 0 0!important;
    bottom: auto !important;
    border: 1px solid #575757;
    overflow-x: hidden;
}
.rent-pay-receipt-popup ion-grid {
    padding: 0;
}
.popup-title {
    background-color: #fb0;
    text-align: center;
    padding: 15px;
}
.popup-title h4 {
    color: #fff;
    margin: 0;
}
.rent-pay-receipt-popup ion-label {
    font-size: 14px;
    color: #575757;
}
.rent-pay-receipt-popup .native-input.sc-ion-input-md[readonly] {
    font-size: 14px;
    background-color: transparent;
    padding: 0;
    height: auto;
    text-align: right;
}
.rent-pay-receipt-popup .receipt-details ion-col {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.rent-pay-receipt-popup ion-icon {
    color: #fff;
}
body .rent-pay-receipt-popup .button.button-clear.close-popup-button {
    top: 15px;
    --padding-start: 0;
    --padding-end: 0;
    right: 10px;
}
.receipt-amount {
    position: relative;
    padding-bottom: 15px;
}
.receipt-amount ion-col {
    text-align: center;
}
.total-rent-paid {
    color: #575757;
}
.total-rent-paid b {
    font-weight: 600;
}
.rent-paid-date {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    color: #575757;
}
/* Rent pay receipt popup end */

/* Tenant Dahsboard posts start  */
.tenants-dashboard .dashboard-content-inner {
    padding: 0 0 15px;
    background-color: #FFFBF0;
    position: relative;
}
.tenants-dashboard ion-segment {
    background-color: #fff;
}
.tenants-dashboard ion-segment-button.segment-button-checked {
    background-color: #FFFBF0;
    border-radius: 10px 10px 0 0;
    font-weight: 300;
}
.tenants-dashboard ion-segment-button.posts-tab-button {
    font-weight: 600;
    text-decoration: underline;
}
.tenants-dashboard ion-segment-button {
    border-bottom: none;
    font-size: 20px;
    --indicator-height: 0;
    position: relative;
    flex: 0 0 auto;
    max-width: inherit;
}
.tenants-dashboard ion-segment-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 54%;
    height: 3px;
    background-color: #FFBB00;
    opacity: 0;
}
.tenants-dashboard ion-segment-button.segment-button-checked:after {
    opacity: 1;
}
.tenant-tab-content {
    background-color: #FFFBF0;
    margin-top: 0;
}
.posts-list-block {
    position: relative;
    padding: 0;
    margin: 20px;
}
.posts-list-block ion-grid {
    padding: 0;
}
.post-row {
    border: 1px solid #6187AA;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 2px #e2e1e1;
    padding: 10px 5px;
    align-items: center;
}
.post-image {
    flex: 0 0 115px;
    max-width: 115px;
    border-right: 1px solid #C0C0C0;
    padding-right: 15px;
}
.post-content {
    flex: 0 0 calc(100% - 115px);
    max-width: calc(100% - 115px);
    padding-left: 10px;
}
.post-image .image-wrapper {
    width: 90px;
    height: 63px;
    border-radius: 12px;
    overflow: hidden;   
}
.post-image .image-wrapper ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-title {
    margin: 0 0 3px;
    color: #3C5871;
    font-size: 17px;
}
.post-price {
    font-size: 30px;
    margin: 5px 0 0;
    color: #3C5871;
}
.dashboard-content p.post-date {
    margin: 0;
    text-align: right;
    font-size: 11px;
    color: #3C5871;
    position: absolute;
    right: 9px;
    bottom: 3px;
}
body .button.button-clear.post-details-link-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
body .button.button-clear.post-add-button {
    width: 51px;
    height: 51px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    border-radius: 50%;
    --padding-start: 0;
    --padding-end: 0;
}
body .button.button-clear.post-add-button ion-icon {
    width: 100%;
    height: 100%;
    font-size: 50px;
}
.enter-lease-code-card {
    margin: .0;
    box-shadow: 0 0 2px 0px #e2e1e1;
    border-radius: 0;
    border-top: 1px solid #E5E5E5;    
    position: relative;
    bottom: 90px;
    z-index: 1;
}
body .cofirm-lease-code-form .button.button-outline {
    margin: 0;
    --border-color: #7c7c7c;
    --background: #e5e5e5;
    --color: #7c7c7c;
    font-size: 15px;
    height: 32px;
}
.cofirm-lease-code-form ion-input:after {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 10px;
    height: 1px;
    border-bottom: 1px dashed;
}
.cofirm-lease-code-form ion-label {
    margin: 0;
    font-size: 13px;
    color: #3C5871;
    font-weight: 600;
}
body .dashboard-content .cofirm-lease-code-form .native-input.sc-ion-input-md {
    border-radius: 7px;
    border-color: #3C5871;
}
body .dashboard-content .cofirm-lease-code-form .is-invalid .native-input.sc-ion-input-md {
    border-color: #ff0000;
}
body .tenant-dhaboard-button-list .button.button-block {
    height: 100%;
    --border-color: #6187AA;
    --border-radius: 12px;
    --padding-start: 24px;
    --padding-end: 24px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    margin: 0;
}
.tenant-dhaboard-button {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}
.tenant-dhaboard-button ion-avatar.md.hydrated {
    flex: 0 0 50px;
    max-width: 50px;
    height: 50px;
}
.tenant-dhaboard-button-content {
    flex: 0 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
    padding-left: 25px;
}
ion-card-content .tenant-dhaboard-button h4 {
    margin: 0 0 10px;
    font-size: 20px;
    border-bottom: 1px solid #B4BEC7;
    padding-bottom: 8px;
    color: #3C5871;
}
ion-card-content .button:hover .tenant-dhaboard-button h4,
ion-card-content .button:focus .tenant-dhaboard-button h4,
ion-card-content .button:hover .tenant-dhaboard-button p,
ion-card-content .button:focus .tenant-dhaboard-button p {
    color: #fff;
}
ion-card-content .tenant-dhaboard-button h4 b {
    font-weight: 600;
}
.tenant-dhaboard-button p {
    font-weight: 300;
    min-height: 45px;
}
.tenant-dhaboard-button-list ion-col {
    margin-top: 15px;
}
.tenant-dhaboard-button-list ion-col:nth-child(2n+1) {
    padding-right: 30px;
}
.tenant-dhaboard-button-list ion-col:nth-child(2n) {
    padding-left: 30px;
}
.enter-lease-code-card ion-card-header {
    padding-bottom: 10px;
}
ion-card-title {
    color: #3C5871;
    font-size: 20px;
    font-weight: normal;
}
.before-lease-code-content {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.before-lease-code-content:before {
    width: 46px;
    height: 2px;
    background: linear-gradient(to right, rgba(128,128,128,1) 0%,rgba(128,128,128,0.5) 50%,rgba(255,255,255,0.8) 100%);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    border-radius: 2px;
}
.before-lease-code-content p + p {
    margin-top: 15px;
}
.cofirm-lease-code-form ion-grid {
    padding: 0;
}
.cofirm-lease-code-form > ion-grid > ion-row {
    margin: 0 -5px;
}
.tenants-dashboard ion-segment-button .notification-count {
    left: auto;
    right: -20px;
    top: -5px;
}
.before-lease-code-content p {
    font-weight: 300;
}
.before-lease-code-content p b {
    font-weight: 600;
}
.after-lease-code-content.hide-div,
.before-lease-code-content.hide-div {
    display: none;
}
.after-lease-code-content,
.before-lease-code-content {
    display: block;
}
/* Tenant Dahsboard posts end  */

/* Tenants pay rents start  */
.rent-price-block p span {
    color: #1ecb40;
}
.due-rents-list .rent-price-block p span {
    color: #FF6363;
}
.dashboard-content p:first-child {
    margin-top: 0;
}
.search-result-box h3,
.rent-price-block h4 {
    font-weight: bold;
}
.paid-rents-list {
    margin: 0 -15px;
}
.paid-rents-list ion-col {
    padding: 0 15px;
}
.rent-pay-alert .alert-message p {
    margin: 0 0 3px;
}
/* Tenants pay rents end  */

/* Tenants choose payment method start */
.choose-payment-method-dashboard .dashboard-content-inner {
    padding-left: 0;
    padding-right: 0;
}
.rent-pay-summary,
.choose-payment-method-block {
    padding: 15px 35px;
}
.choose-payment-method-block {
    border-top: 1px solid #B4BEC7;
}
.rent-pay-summary > h3,
.rents-pay-details h4,
.rents-pay-details p,
.choose-payment-method-block > h4 {
    color: #3C5871;
}
.rent-pay-summary > h3 {
    margin: 0 0 25px;
    text-align: center;
    padding-top: 15px;
}
.rents-pay-details p {
    margin-bottom: 5px;
}
.rents-pay-details h4 {
    margin: 0;
}
.payment-method-wrapper h4 {
    font-weight: 600;
    margin-top: 0;
}
.choose-payment-method-block > h4 {
    margin-bottom: 25px;
}
.choose-payment-method-block ion-segment-button {
    --border-color: #3C5871;
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 7px;
    border-bottom-color: #3c5871;
    --indicator-height: 0;
    --color-checked: #fff;
    --color-selected: #fff;
    --color-focused: #fff;
    --background-checked: #FFBB00;
    --background-focused: #FFBB00;
    --background-hover: #FFBB00;
    overflow: hidden;
}
ion-segment-button.segment-button-checked {
    --border-color: #FFBB00;
    border-bottom-color: #FFBB00;
    font-weight: normal;
}
.choose-payment-method-block ion-segment-button + ion-segment-button {
    margin-left: 30px;
}
.choose-payment-method-block form {
    width: 100%;
}
.visa-logo {
    max-width: 70px;
}
.credit-card-details {
    border: 1px solid #6187AA;
    border-radius: 12px;
    padding: 30px;
    margin: 30px 0 0;
}
.checkbox-wrap {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.checkbox-wrap {
    display: inline-block;
    align-items: center;
    margin-top: 15px;
    --inner-border-width: 0;
    --min-height: auto;
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --ripple-color: transparent;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
}
.checkbox-wrap ion-checkbox {
    margin: 0;
    --border-color: #3C5871;
    --border-color-checked: #3C5871;
    --background-checked: transparent;
    --checkmark-color: #3C5871;
}
.checkbox-wrap .form-lable {
    margin: 0 0 0 15px;
    font-size: 16px;
    color: #3C5871;
    position: relative;
    top: 1px;
}
.rents-pay-details ion-col:last-child {
    padding-left: 20px;
}
/* Tenants choose payment method end */

/* Manage Posts start */
.accordion-item {
    background-color: #FFFFFF;
    color: #3C5871;
    transition: 0.4s;
    border: 1px solid #6187AA;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 15px;
}
.accordion-button {
    background-color: #FFFBF0;
    padding: 5px 0;
    position: relative;
}
.post-date {
    position: absolute;
    right: 15px;
    bottom: -5px;
    font-size: 10px;
}
.accordion-edit-button {
    flex: 0 0 63px;
    max-width: 63px;
}
.accordion-click-button {
    flex: 0 0 calc(100% - 63px);
    max-width: calc(100% - 63px);
    padding-left: 15px;
}
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
   
}
.accordion-content {
    border-top: 1px solid #FF9900;
    padding: 15px;
}
.accordion-content p:last-child {
    margin-bottom: 0;
}
.manage-posts-wrapper {
    overflow: hidden;
}
.manage-posts-wrapper {
    padding: 15px 0;
}
body .accordion-edit-button .button.button-clear {
    --color: #FF9900;
    font-size: 30px;
    --padding-start: 10px;
    --padding-end: 10px;
    border-right: 1px solid #B4BEC7;
    text-align: center;
    height: 100%;
    margin: 0;
}
body .accordion-click-button .button.button-clear {
    height: auto;
    --color: #3C5871;
    --color-hover: #3C5871;
    --color-activated: #3C5871;
    --padding-start: 0;
    --padding-end: 0;
}
.accordion-click-button-inner {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
}
.accordion-click-button-inner p {
    margin: 0;
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
    text-align: left;
    line-height: 1.2;
}
.accordion-click-button-inner ion-icon {
    font-size: 30px;
    flex: 0 0 30px;
    max-width: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3ECaret Down%3C/title%3E%3Cpath fill='none' stroke='%233C5871' stroke-width='10' d='M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z'/%3E%3C/svg%3E");
}
.accordion-item.active .accordion-click-button-inner ion-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3ECaret Down%3C/title%3E%3Cpath fill='%233C5871' d='M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z'/%3E%3C/svg%3E");
}
.posts-list {
    overflow: hidden;
}
.posts-list + .posts-list {
    margin-top: 40px;
}
.posts-list.pinned-posts {
    margin-top: 30px;
}
.attached-files-list {
    text-align: right;
}
.attached-file {
    display: inline-block;
    background-color: #3C5871;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
body .manage-posts-wrapper .button.button-clear.property-change-button {
    position: fixed;
    bottom: 15px;
    right: 30px;
}
/* Manage Posts end */

/* Create Posts start  */
.dashboard-content-inner.create-posts-wrapper {
    padding: 25px;
}
.create-posts-wrapper ion-card {
    border-radius: 12px;
    box-shadow: none;
    border: 1px solid #6187AA;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    margin-top: 0;
}
.create-posts-wrapper ion-card-content ion-row {
    flex-direction: column;
}
body .upload-photo-block .button.button-solid {
    --border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    --padding-start: 0;
    --padding-end: 0;
}
body .create-posts-wrapper .upload-photo-block .button.button-solid {
    --background: #2B89E0;
    --border-color: #2B89E0;
}
.create-posts-wrapper .upload-photo-block .button ion-icon {
    color: #fff;
}
body .create-posts-wrapper .button.button-solid.exit-file-btn {
    margin-top: 0;
}
.dashboard-content .create-posts-wrapper .uploaded-file-name {
    max-width: calc(100% - 65px);
    flex: 0 0 calc(100% - 65px);
}
.create-posts-wrapper .uploaded-file .button.button-clear {
    flex: 0 0 65px;
    max-width: 65px;
}
body .upload-file-input-button .native-input.sc-ion-input-md {
    border-color: #7c7c7c;
    background-color: #fff;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}
/* Create Posts end  */

/* Notification popup start  */
.sc-ion-popover-ios-h.notification-popup {
    --width: 30vw;
    --background: #FFFEFA;
    padding: 30px;
    color: #3C5871;
}
.notification-popup .popover-content {
    padding: 30px 0 65px;
    overflow: visible;
    /* box-shadow: 0 0 5px rgb(0 0 0 / 50%); */
    border: 1px solid #C0C0C0;
}
.notification-popup .popover-viewport {
    cursor: inherit;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 30px;
}
.notification-popup .popover-arrow {
    width: 20px;
    height: 18px;
    /* display: none; */
}
.notification-popup .popover-content:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #C0C0C0;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    /* box-shadow: -3px 3px 3px 0 rgb(0 0 0 / 40%); */
    display: inline-block;
    top: 0%;
    right: 0;
    /* box-shadow: 0 0 5px rgb(0 0 0 / 50%); */
    left: -8px;
    margin: auto;
    background-color: inherit;
}
.notification-popup .popover-content:before {
    content: "";
    position: absolute;
    width: 38px;
    height: 18px;
    right: 0;
    top: 0;
    background-color: inherit;
    z-index: 1;
    left: 0;
    margin: auto;
}
.notification-box {
    position: relative;
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: #FFFEFA;
    padding: 10px 15px 3px;
}
.notification-box + .notification-box {
    margin-top: 15px;
}
.notification-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    width: 100%;
}
.red-notification .notification-box-header {
    border-bottom-color: #FF6363;
}
.yellow-notification .notification-box-header {
    border-bottom-color: #FFBB00;
    padding-bottom: 0;
}.notofication-content h6 {
    margin: 0;
}
.red-notification .notofication-content h6 span  {
    color: #FF6363;
}
.yellow-notification .notofication-content h6 span  {
    color: #FFBB00;
}
.notofication-content p {
    font-weight: 300;
}
.notofication-content p {
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
    min-height: 39px;
}
.notofication-content p + p {
    margin-top: 10px;
}
.notofication-content p b {
    font-weight: normal;
}
.notification-date {
    text-align: right;
    display: block;
    font-size: 11px;
    font-weight: 300;
    margin-top: 5px;
}
body .notification-detail-button.button.button-clear {
    margin: 0;
}
.red-notification ion-icon {
    color: #FF6363;
    font-size: 23px;
}
.yellow-notification ion-icon {
    font-size: 35px;
}
.notification-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 30px;
}
body .notification-footer .button.button-clear {
    height: 100%;
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
    line-height: 1.2;
    --color-hover: #FFBB00;
    --color-focused: #FFBB00;
    --color-activated: #FFBB00;
}
/* Notification popup end  */

/* Notification history start */
.notification-history .dashboard-content-inner {
    padding: 15px 20px;
}
.notification-history .notification-list > h6 {
    margin: 25px 0 15px;
    font-weight: normal;
    font-family: 'Segoe UI';
}
/* Notification history end */

/* Post details start  */
.dashboard-content-inner.post-details {
    padding: 0;
}
.post-details {
    color: #3C5871;
}
.post-details-content {
    padding: 30px 15px;
    border: 1px solid #B4BEC7;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f8f8f8+47,f8f8f8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 47%, #f8f8f8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 47%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 47%,#f8f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */

}
.post-details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.post-details-title h3 {
    margin-top: 0;
}
.dashboard-content p.post-detail-date {
    color: #575757;
}
body .button.button-outline.message-poster-button {
    --border-color: #3C5871;
}
body .button.button-outline.message-poster-button {
    --border-color: #3C5871;
    --background: #FFDAA3;
    --color: #3C5871;
    --color-hover: #3C5871;
    --color-focused: #3C5871;
    --color-activated: #3C5871;
    height: auto;
    margin: 0;
    --padding-top: 15px;
    --padding-bottom: 15px;
}
body .button.button-outline.message-poster-button ion-icon {
    font-size: 30px;
    position: relative;
    top: 4px;
}
body .button.button-outline.message-poster-button span {
    word-break: break-word;
    white-space: normal;
    width: 80px;
    margin-left: 15px;
}
.post-details p {
    line-height: 28px;
    margin-bottom: 0;
}
.post-images-slider {
    padding: 15px;
    background: #FFFBF0;
}
.swipe-slider {
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.post-images-slider .swipe-slider {
    margin-bottom: 15px;
}
.post-main-image-slider .swiper-slide {
    border-radius: 12px;
    overflow: hidden;
    border: 8px solid #fff;
    height: 375px;
}
.main-post-image,
.post-thumbnail-slider .swiper-slide ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-thumbnail-slider .swiper-wrapper {
    justify-content: center;
}
.post-thumbnail-slider .swiper-slide {
    width: 55px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #fff;
    overflow: hidden;
    max-width: 55px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 29%);
    --indicator-height: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
}
.post-thumbnail-slider .swiper-slide.swiper-slide-active {
    border-color: #FF9900;
}
/* Post details end  */

/* Messaging start  */
.message-list {
    color: #3c5871;
}
.message-list + .message-list {
    margin-top: 30px;
}
.message-list > h4 {
    font-weight: normal;
    font-family: 'Segoe UI';
}
.message-list .posts-list-block {
    margin: 20px 0;
}
.post-image span {
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: 300;
    font-family: 'Segoe UI Semilight';
}
.post-image h3 {
    margin: 5px 0 0;
    font-size: 32px;
    font-weight: 400;
    text-transform: none;
    position: relative;
    opacity: .8;
    text-align: center;
}
.message-list .post-title {
    margin: 0;
}
.message-list .post-content {
    position: static;
}
.dashboard-content .message-list p.post-date {
    bottom: 5px;
}
.staff-name {
    word-break: break-word;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}
body .messaging-content .button.button-clear.property-change-button {
    font-size: 30px;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
}
.start-conversation-popup {
    --box-shadow: none !important;
    --border-width: 0;
    --border-style: solid;
    --border-color: #C0C0C0;
    --border-radius: 5px;
    --height: auto;
    --backdrop-opacity: 0.9;
}
.sc-ion-modal-md-h.start-conversation-popup:first-of-type,
.sc-ion-modal-ios-h.start-conversation-popup:first-of-type {
    --backdrop-opacity: 0.9;
}
.start-conversation-popup ion-backdrop {
    background-color: #fff;
}
.start-conversation-popup .ion-page {
    max-height: 90vh;
    contain: content;
}
.start-conversation-popup .modal-wrapper {
    overflow: hidden; 
}
.start-conversation-popup ion-grid {
    width: 100%;
}
.start-conversation-popup-wrapper .popup-title {
    border: 0.5px solid #707070;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f8f8f8+47,f8f8f8+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 47%, #f8f8f8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 47%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 47%,#f8f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
    color: #575757;
    font-weight: normal;
    border-radius: 5px 5px 0 0;
    padding: 18px 15px;
}
.start-conversation-popup-wrapper .popup-title h3 {
    font-weight: normal;
    margin: 0;
}
.start-conversation-popup-wrapper .popup-title span {
    color: #FFA31A;
}
body .start-conversation-popup .button.button-clear.close-popup-button {
    --color: #575757;
    --color-hover:#FFA31A; 
    --color-focused:#FFA31A; 
    --color-activated:#FFA31A; 
}
.start-conversation-popup ion-icon {
    color: #575757;
}
.start-conversation-popup .popup-content {
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 10px 10px;
    padding: 20px 14px;
}
.search-box-wrapper {
    border: 1px solid #7C7C7C;
    border-radius: 5px;
}
.search-box-wrapper ion-searchbar {
    --background: transparent;
    --border-radius: 0;
    --placeholder-color: #7C7C7C;
    --placeholder-opacity: 1;
    --placeholder-font-weight: 300;
    height: 65px;
}
.search-box-wrapper .searchbar-search-icon {
    color: #ccc;
    width: 30px;
}
.search-box-wrapper .searchbar-input, 
.search-box-wrapper .searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    padding-inline-start: 40px;
    padding-inline-end: 0;
    font-size: 24px;
    /* font-family: 'Segoe UI Semilight';
    font-weight: 300; */
    border-bottom: 1px solid;
    color: #3C5871;
}
.popup-buttons {
    padding: 15px 5px;
}
body .popup-buttons ion-col {
    padding: 0;
}
body .popup-buttons ion-col:last-child {
    text-align: right;
}
body .popup-buttons .button.button-outline {
    --border-radius: 14px;
    min-width: 112px;
    height: 36px;
}
body .popup-buttons .button.button-outline.exit-button {
    --color: #3C5871;
    --border-color: #3C5871;
}
body .popup-buttons .button.button-outline.secondary-button {
    --border-color: #FFA800;
}
.search-results {
    padding: 0 15px 15px;
    color: #7c7c7c;
    font-size: 15px;
}
.search-results.hide-div {
    display: none;
}
.search-results p {
    margin: 0;
}
.search-results-rows {
    border: 1px solid rgba(112,112,112,0.5);
    border-radius: 5px;
    padding: 5px 10px;    
    position: relative;
}
.search-results-rows + .search-results-rows {
    margin-top: 2px;
}
.search-results-header {
    padding: 10px;
}
.search-results-header-apt,
.search-results-col-apt {
    text-align: center;
}
.search-results-role,
.search-results-col-role {
    text-align: right;
}
.search-results-col-role {
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
}
.serach-results-inner {
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #3C5871;
}
body .button.button-outline.select-all-result-button {
    --border-radius: 5px;
    height: auto;
    --color: #3C5871;
    font-size: 15px;
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --border-color: rgba(60,88,113, 0.5);
    margin: 15px 0 0;
}
.search-box-wrapper .searchbar-has-focus .searchbar-search-icon,
.search-box-wrapper .searchbar-has-value .searchbar-search-icon {
    display: none;
}
.search-box-wrapper .searchbar-has-focus .searchbar-input, 
.search-box-wrapper .searchbar-has-value .searchbar-input, 
.search-box-wrapper .searchbar-has-focus.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios,
.search-box-wrapper .searchbar-has-value.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    padding-inline-start: 0;
}
.search-results-rows ion-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --background: transparent;
    --border-width: 0;
    /* --background-checked: transparent; */
    --checkmark-color: transparent;
}
.search-results-rows.row-checked {
    background-color: #FFFBF0;
}
.search-results-rows.row-checked .search-results-col-name,
.search-results-rows.row-checked .search-results-col-apt {
    font-weight: 600;
}
/* Messaging end  */

/* My Account start  */
.my-account-content .dashboard-content-inner,
.services-settings .dashboard-content-inner {
    padding-top: 30px;
    padding-bottom: 30px;
}
body .button.button-block.my-account-button {
    --color: #3C5871;
    --border-color: #3C5871;
}
.my-account-button .button-inner {
    justify-content: space-between;
    width: 100%;
}
.my-account-button + .my-account-button {
    margin-top: 30px;
}
.my-account-content .choose-payment-method-block {
    border-top: 0;
    padding: 0;
}
body .my-account-content .button.button-solid.exit-file-btn {
    margin-top: 16px;
}
.toggle-button-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ion-toggle {
    --background: #575757;
    --background-checked: #fb0;
    --handle-background: #fff;
    --handle-background-checked: #fff;
}
.form-field.toggle-button-field, 
.form-field.toggle-button-field + .form-field.toggle-button-field {
    margin-top: 40px;
}
body .services-settings .button.button-round.secondary-button {
    margin-top: 40px;
}
/* My Account end  */

/* Manage Request start  */
.request-box + .request-box {
    margin-top: 30px;
}
.request-box-info {
    padding: 0;
    border-color: #6187AA;
    border-radius: 12px;
    overflow: hidden;
    color:#3C5871;
}
.request-date {
    margin: 0;
}
.selected-filter {
    font-size: 13px;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
}
.search-result-box-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e1e1;
    margin-bottom: 20px;
}   
.request-box-info {
    padding: 0;
}
.request-box-info ion-grid {
    padding: 0;
}
.request-title-col {
    padding: 8px 5px 5px 15px;
}
.request-title {
    margin: 0;
}
.request-status-col {
    text-align: right;
    padding: 0;
}
.request-status {
    display: inline-block;
    font-size: 13px;
    padding: 8px 15px;
}
.request-status.pending {
    background-color: #FFF6DC;
    color: #FFBB00;
}
.request-status.confirmed {
    background-color: #E5F8E6;
    color: #77CF7B;
}
.request-details-col {
    text-align: center;
    padding: 15px;
}
.request-details-col h6 {
    margin: 0 0 5px;
    font-size: 13px;
    font-family: 'Segoe UI Semilight';
    font-weight: 300;
}
.request-details-col p {
    margin: 0;
    font-size: 20px;
}
.request-box-info + .request-box-info {
    margin-top: 22px;
}
/* Manage Request end  */

/* Chat start  */
.dashboard-wrapper ion-col.dashboard-content.chat-content {
    padding-bottom: 0;
}
.chat-header {
    background-color: #f3f3f3;
    padding: 15px;
    border-bottom: 1px solid #e2e1e1;
}
.chat-header h6, .chat-header h5, .chat-header p {
    margin: 0;
}
.sender-details h5 {
    margin: 5px 0 3px;
}
.sender-details p {
    font-size: 12px;
    color: #575757;
}
.chat-time h6 {
    margin: 0 0 5px;
}
.sender-number {
    background: #FFBB00;
    color: #fff;
    padding: 2px 8px;
    border-radius: 15px;
    cursor: pointer;
}
.sender-number:hover,
.sender-number:focus {
    background: #FFA800;
    color: #fff;
}
.chat-screens {
    /* height: 100%; */
    background: #fff;
    margin-top: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
}
.chat-date {
    margin: 0 auto;
    display: inline-block;
    color: #FBFBFB;
    background: #C0C0C0;
    border-radius: 15px;
    font-size: 14px;
    padding: 5px 8px;
    margin-bottom: 30px;
}
.message {
    padding: 15px;
    background-color: #FFF6DC;
    margin-bottom: 25px;
    border-radius: 8px;
    position: relative;
}
.message.sender {
    margin-right: auto;
    background-color: #D8F3D9;
}
.message:before {
    content: "";
    position: absolute;
    right: 10px;
    bottom: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid #FFF6DC;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.message.sender:before {
    border-top: none;
    border-bottom: 15px solid #D8F3D9;
    right: auto;
    left: 10px;
    bottom: auto;
    top: -15px;
}
.message p {
    margin-bottom: 8px;
}
.chat-time {
    font-size: 12px;
    display: block;
}
.type-message {
    width: 100%;
    position: relative;
}
body .type-message ion-textarea {
    height: 50px;
    padding: 15px 50px;
}
body .dashboard-content .type-message ion-textarea {
    border-radius: 50px;
}
body .button.button-clear.send-message-button,
body .button.button-clear.emoji-popup-button {
    position: absolute;
    top: 11px;
    right: 0;
    z-index: 3;
}
body .button.button-clear.emoji-popup-button {
    right: auto;
    left: 0;
}
/* Chat end  */

/* Tanant dhaboard page changes start */
.tab-button-wrap {
    display: flex;
    align-items: center;
}
body .button.button-clear.post-add-button-besides-tab {
    --background: #fff;
    margin: 0;
    font-weight: 600;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Segoe UI Semilight';
    --color: #3C5871;
    --color-checked: #3c5871;
    --color-selected: #3C5871;
    --color-focused: #3C5871;
    position: relative;
    --padding-top: 14px;
    --padding-bottom: 14px;
    --padding-start: 50px;
    --padding-end: 50px;
    height: 100%;
    --border-radius: 0;
}
.enter-lease-code-card.hide-div {
    display: none;
}
.enter-lease-code-card {
    position: absolute;
    bottom: 0;
}
/* Tanant dhaboard page changes end */

/* 

h1: 26px
h2: 24px
h3: 22px
h4: 20px
h5: 18px
h6: 16px

font-family: 'Segoe UI';
regular: normal
light: 300
semibold: 600

font-family: 'Segoe UI Semilight';
semilight: 300

font-family: 'Arial';
regular: normal
light: 300
medium: 500
bold: bold
black: 900

color: #575757
Dark Orange color 1: #FFA800;
Dark Orange color 2: #FFBB00;
Light Orange color: #FFF6DC;

*/