/* Default CSS start */


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class .alert-wrapper {
    background: #575757;
}

.my-custom-class .alert-head {
    /*background: #FCFCFC;*/
    background: #575757;
    border-bottom: 1px solid white;
}

.my-custom-class .alert-title {
    /*background: #e5e5e5;*/
    background: #575757;
    color: #7d6767;
}

.my-custom-class .alert-message {
    /*background: #FCFCFC;*/
    color: white;
    text-align: center;
}

.my-custom-class .alert-button {
    border: 1px solid #575757;
}

.hide-input {
    display: none;
}

.chat-screens-date {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message.received {
    margin-left: auto;
}

.no-border {
    --border-width: 0 0 0 0 !important;
}